/* Write your global styles here, in PostCSS syntax */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";/


img{
  border: 0.1em solid #865439;
  border-radius: 2em;
}
input{
  border-radius: 3em;
  border: 0.1em solid #865439;
}
.accordion-btn{
  background-color: #face7f;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #865439;
  border-radius: 9999px;
  color: #911f27;
}
.accordion {
  display: flex;
  flex-direction: column;
}
.accordion-item {
  
}
.accordion-header {
  
}
.accordion-content {
  display: none;
}
.accordion-item.active .accordion-content {
  display: block;
}
*{
  font-family: 'roboto';
  font-size: 12px;
}
h3{
  font-weight:bold;
}

/*sm*/
@media (min-width: 640px) {
  *{
      font-size: 16px;
  }
}
/*md*/
@media (min-width: 768px) {
  * {
      font-size: 18px;
  }
}
/*lg*/
@media (min-width: 1024px) {
  * {
      font-size: 20px;
  }
}
/*xl*/
@media (min-width: 1280px) {
  * {
      font-size: 22px;
  }
}
/*2xl*/
@media (min-width: 1536px) {
  * {
      font-size: 24px;
  }
}





/*
colors:{
  'carb-dark': '#865439',
  'carb-light': '#c68b59',
  'fat-dark': '#face7f',
  'fat-light': '#fcf0c8',
  'kcal-dark': '#32502e',
  'kcal-light': '#406343',
  'protein-dark': '#630a10',
  'protein-light' : '#911f27',
}
*/

