/* Write your global styles here, in PostCSS syntax */
@tailwind base;

th,td{
    border: 0.1em solid #865439;
    display:flex; 
    align-items:center;
    justify-content:center;
}
th{
    font-weight: bold;
    background-color: #face7f ;
}
#tf{
    background-color: #face7f ;
}
img{
  border: 0.1em solid #c68b59;
}
input{
  border-radius: 0.25rem;
}

@tailwind components;
@tailwind utilities;
